<!--
<div class="animated fadeIn" fxLayout="row" fxLayoutWrap="wrap">
  <div fxFlex="100" fxFlex.gt-xs="100">
    <mat-card class="p-0">
      &lt;!&ndash;<mat-card-title style="background-color: slategrey">
        <div class="card-title-text text-center" style="color: white">Highchart</div>
        <mat-divider></mat-divider>
      </mat-card-title>&ndash;&gt;
      <mat-card-content class="p-0 m-0">
        <div id="chart" class="c3-chart"></div>
      </mat-card-content>
    </mat-card>
  </div>
</div>-->
<div id="tableauViz" style="height: 100%; padding: 5px; overflow-x: hidden; overflow-y: hidden"></div>
