<div style="padding: 5px; padding-bottom: 0px; height: 100%; overflow-x: auto; overflow-y: auto">
  <!--<h4>Tabs with text labels</h4>-->
    <mat-tab-group class="demo-tab-group" (selectedTabChange)="onTabChange($event)">
      <mat-tab label="Tableau Demo 1" style="height: 100%;">
        <div id="tableauViz1" style="height: 100%; padding: 5px"></div>
      </mat-tab>
      <mat-tab label="Tableau Demo 2">
        <div id="tableauViz2" style="height: 100%; padding: 5px">
        </div>
      </mat-tab>
    </mat-tab-group>
</div>
<!--<div id="tableauViz1" style="height: 100%; padding: 5px"></div>-->
