.ui-datatable .ui-datatable-thead>tr>th, .ui-datatable .ui-datatable-tfoot>tr>td, .ui-datatable .ui-datatable-data>tr>td {
    border-style: none !important;
}
.ui-datatable .ui-datatable-thead>tr>th, .ui-datatable .ui-datatable-tfoot>tr>td {
    text-align: left;
    /*font-weight: 500;
    background-color: lightslategray;
    color: white;*/
}
/*.ui-widget-header {
    font-weight: 500;
}*/