.dashboard-mat-card-content {
  height: 220px;
  overflow-y: auto;
}

.dashboard-card-button {
  background:transparent !important;
  border: hidden !important;
}

.text-white {
  color: white;
}

.text-lightgray {
  color: rgba(0, 0, 0, .2) !important;
}

.dashboard-mat-title-lightslategrey {
  background-color: lightslategrey;
}

mat-card {
  box-shadow:none;
  .m-0 {
    background-color: lightslategrey;
  };
  .material-icons.md-48 {
    color: rgba(0, 0, 0, .7);
  }
  .fa-4x {
    color: rgba(0, 0, 0, .7);
  }
}
mat-card:hover, mat-card:active {
  border: solid;
  border-color: #3f51b5;
  border-width: thin;
  /*box-shadow: 0 0 20px #3f51b5;*/
  cursor: pointer;
  .m-0 {
    background-color: #3f51b5;
  };
  .material-icons.md-48 {
    color: rgba(63, 81, 181, 1);
  };
  .fa-4x {
    color: rgba(63, 81, 181, 1);
  }
}
