<mat-card class="p-0" (click)="widgetOnClick()"
          matTooltip="{{ tooltipText }}"
          [matTooltipPosition]="tooltipPosition">
  <mat-card-title class="m-0">
    <div class="card-title-text text-center text-white">{{ title }}</div>
    <mat-divider></mat-divider>
  </mat-card-title>
  <mat-card-content class="dashboard-mat-card-content">
    <div class="text-center">
      <br><br><br>
      <button class="card-control dashboard-card-button">
        <i ngClass="{{ iconClass }}" style="cursor: pointer">{{ iconName }}</i>
      </button>
    </div>
  </mat-card-content>
</mat-card>

